<menu class="social-media-share">
    <a href="https://www.facebook.com/tennismickyjay" class="icon-facebook" rel="external" title="My Facebook"></a>
    <!--<a href="#" class="icon-twitter" rel="external" title="My Twitter"></a>-->
    <a href="https://plus.google.com/101644845713863957617" class="icon-googleplus" rel="external" title="My Google+"></a>
    <!--<a href="#" class="icon-flickr" rel="external" title="My Flickr"></a>-->
    <a href="https://www.linkedin.com/profile/view?id=21163534" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <!--<a href="#" class="icon-pinterest" rel="external" title="My Pinterest"></a>-->
    <!--<a href="#" class="icon-vimeo" rel="external" title="My Vimeo"></a>-->
    <a href="https://github.com/mewm" class="icon-github" rel="external" title="My GitHub"></a>
    <!--<a href="#" class="icon-dribbble" rel="external" title="My Dribbble"></a>-->
    <!--<a href="#" class="icon-stumbleupon" rel="external" title="My Stumbleupon"></a>-->
    <a href="http://www.last.fm/user/mewmorg" class="icon-lastfm" rel="external" title="My Lastfm"></a>
    <!--<a href="#" class="icon-rdio" rel="external" title="My Rdio"></a>-->
    <!--<a href="#" class="icon-youtube" rel="external" title="My YouTube"></a>-->
    <a href="mailto:root@mewm.org" class="icon-mail" rel="external" title="My Mail"></a>
    <!--<a href="#" class="icon-feed" rel="external" title="My RSS Feed"></a>-->
</menu>